<div id="<%= dom_id claim_cause %>">
  <p>
    <strong>Acd:</strong>
    <%= claim_cause.acd %>
  </p>

  <p>
    <strong>Ucd:</strong>
    <%= claim_cause.ucd %>
  </p>

  <p>
    <strong>Osccd:</strong>
    <%= claim_cause.osccd %>
  </p>

  <p>
    <strong>Process claim:</strong>
    <%= claim_cause.process_claim_id %>
  </p>

</div>
