<div id="<%= dom_id claim_remark %>">
  <p>
    <strong>Process claim:</strong>
    <%= claim_remark.process_claim_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= claim_remark.user %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= claim_remark.status %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= claim_remark.remarks %>
  </p>

</div>
