<div id="<%= dom_id authority_level %>">
  <p>
    <strong>Name:</strong>
    <%= authority_level.name %>
  </p>

  <p>
    <strong>Min authority:</strong>
    <%= authority_level.min_authority %>
  </p>

  <p>
    <strong>Max authority:</strong>
    <%= authority_level.max_authority %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= authority_level.description %>
  </p>

</div>
