<div id="<%= dom_id claim_benefit %>">
  <p>
    <strong>Process claim:</strong>
    <%= claim_benefit.process_claim_id %>
  </p>

  <p>
    <strong>Benefit:</strong>
    <%= claim_benefit.benefit_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= claim_benefit.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= claim_benefit.status %>
  </p>

</div>
