<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-top border-bottom border-primary">
      <%# <th class="text-primary">ID</th> %>
      <th class="text-primary">Benefit</th>
      <th class="text-end text-primary">Amount</th>
      <% unless params[:action] == 'evaluate' %>
        <th class="text-end text-primary">Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @process_claim.claim_benefits.each do |benefit_claim| %>
      <tr>
        <%# <td>= benefit_claim.id</td> %>
        <td> <small><%= benefit_claim.benefit %></small> <span class="badge bg-warning text-dark"><%= benefit_claim.status %></span></td>
        <td class="text-end"><%= to_curr(benefit_claim.amount) %></td>
        <% if params[:action] == 'show' %>
          <td class="text-end">
            <%#= link_to 'View', benefit_claim, class: 'btn' %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_claim_benefit_path(benefit_claim), class: 'btn btn-outline-primary btn-sm', data: { turbo_frame: "remote_modal" } %>
            <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, benefit_claim, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="fw-bold border-top border-primary">
    <td colspan="2">TOTAL</td>
    <%# <td class="text-end"><%= to_curr(@process_claim.claim_benefits.where.not(status: "Denied").sum(:amount)) %></td>
    <td class="text-end"><%= to_curr(@process_claim.get_benefit_claim_total(@process_claim)) %></td>
    <td class="text-end"></td>
  </tfoot>
</table>
