<div id="<%= dom_id claim_beneficiary %>">
  <p>
    <strong>Process claim:</strong>
    <%= claim_beneficiary.process_claim_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= claim_beneficiary.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= claim_beneficiary.birthdate %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= claim_beneficiary.relationship %>
  </p>

</div>
