<div id="<%= dom_id claim_distribution %>">
  <p>
    <strong>Process claim:</strong>
    <%= claim_distribution.process_claim_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= claim_distribution.name %>
  </p>

  <p>
    <strong>Amount type:</strong>
    <%= claim_distribution.amount_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= claim_distribution.amount %>
  </p>

</div>
