<div id="<%= dom_id claim_coverage %>">
  <p>
    <strong>Orno:</strong>
    <%= claim_coverage.orno %>
  </p>

  <p>
    <strong>Or date:</strong>
    <%= claim_coverage.or_date %>
  </p>

  <p>
    <strong>Bsno:</strong>
    <%= claim_coverage.bsno %>
  </p>

  <p>
    <strong>Bs date:</strong>
    <%= claim_coverage.bs_date %>
  </p>

  <p>
    <strong>Effectivity:</strong>
    <%= claim_coverage.effectivity %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= claim_coverage.expiry %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= claim_coverage.amount %>
  </p>

  <p>
    <strong>Coverage type:</strong>
    <%= claim_coverage.coverage_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= claim_coverage.status %>
  </p>

</div>
